<%= render 'admin/admins' %>

<div class="container">
 <% @item.errors.any? %>
 <% @item.errors.full_messages.each do |message| %>
  <%= message %>
 <% end %>
 
 <div class="row p-5">
  <h5 class="bg-light px-3">商品新規登録</h5>
 </div>
 
 <div class="row justify-content-center">
  <%= form_with model: @item,url: admin_items_path,method: :post do |f| %>
   <table class="table table-sm table-borderless">
    <tbody>
     <tr>
      <td><%= f.label :image, "商品画像" %></td>
      <td><%= f.file_field :image,accept:"image/*" %></td>
     </tr>
     <tr>
      <td><%= f.label :name, "商品名" %></td>
      <td><%= f.text_field :name,size:"40",:placeholder=>"商品名" %></td>
     </tr>
     <tr>
      <td><%= f.label :introduction, "商品説明" %></td>
      <td><%= f.text_area :introduction,size:"39x5",:placeholder=>"ここに説明文を記述します" %></td>
     </tr>
     <tr>
      <td><%= f.label :genre_id, "ジャンル" %></td>
      <td><%= f.select :genre_id, Genre.all.map {|genre| [genre.name,genre.id]},{include_blank: "--選択してください--"},{class:'form-control border-secondary'} %></td>
     </tr>
     <tr>
      <td><%= f.label :price, "税抜価格" %></td>
      <td><%= f.number_field :price,class:'form-control border-dark',:placeholder=>"1000" %></td>
      <td>円</td>
     </tr>
     <tr>
      <td><%= f.label :is_active, "販売ステータス" %></td>
      <td>
       <%= f.radio_button :is_active,true %>
       <%= f.label :is_active,'販売中',value: true,class:'border-bottom' %>
       <%= f.radio_button :is_active,false,class:'ml-3' %>
       <%= f.label :is_active,'販売停止中',value: false,class:'border-bottom' %>
      </td>
     </tr>
    </tbody>
   </table>
   <div class="text-center">
    <%= f.submit "新規登録",class:'btn btn-success btn-lg px-4 m-2' %>
   </div>
  <% end %>
 </div>
</div>