<div class="container">
 <div class="row p-5">
  <h5 class="bg-light px-5"><strong>管理者</strong>ログイン</h5>
 </div>
 
 <%= form_with model: @admin,url: admin_session_path,method: :post do |f| %>
 <table class="mx-auto">
  <thead>
   <tr></tr>
   <tr></tr>
   <tr></tr>
  </thead>
  <tbody>
   <tr>
    <td><%= f.label "メールアドレス",class:'my-1' %></td>
    <td><%= f.email_field :email, autofocus: true, autocomplete: "email",class:'mx-5 my-1 form-control' %></td>
   </tr>
   
   <tr>
    <td><%= f.label "パスワード",class:'my-1' %></td>
    <td><%= f.password_field :password, autocomplete: "current-password",class:'mx-5 my-1 form-control' %></td>
   </tr>
   
   <tr>
    <td></td>
    <td><%= f.submit "ログイン",class:'m-5 px-5 btn btn-primary' %></td>
   </tr>
  </tbody>
 </table>
 <% end %>
</div>

<%= render "admin/shared/links" %>
