<% if customer_signed_in? %>
 <%= render 'public/publics' %>
<% end %>

<div class="container">
 <div class="d-flex flex-row">
  <div class="m-5 mx-auto" style="position: relative;">
   <%= image_tag'shop.jpeg',size:'700x300' %>
   <p class="border border-dark bg-white py-4 pr-3" style="position: absolute; top: 70px; left: 150px;">
    ようこそ、ながのCAKEへ！</br>
    このサイトは、ケーキ販売のECサイトになります。</br>
    会員でない方も商品の閲覧はできますが、</br>
    購入には会員登録が必要になります。
   </p>
  </div>
 </div>
 
 <div class="col-8 mx-auto">
  <h3><strong>新着商品</strong></h3>
  <div class="d-flex flex-row">
   <% @items.first(4).each do |item| %>
    <div class="m-2">
     <% if customer_signed_in? %>
      <%= link_to item_path(item.id) do %>
       <%= image_tag item.image,size:"200x120" %>
      <% end %>
     <% else %>
      <%= image_tag item.image,size:"200x120" %>
     <% end %>
     <%= item.name %></br>
     ￥<%= item.price.to_s(:delimited) %>
    </div>
   <% end %>
  </div>
 </div>
 <div class="text-right mb-3">
  <% if customer_signed_in? %>
   <%= link_to "全ての商品を見る >",items_path %>
  <% end %>
 </div>
</div>