<div class="container">
 <div class="d-flex flex-row">
  <div class="col-2 border border-dark mt-5">
   <p class="border-bottom border-dark text-center"><strong>ジャンル検索</strong></p>
   <div class="d-flex flex-column overflow-scroll">
    <% @genres.each do |genre| %>
     <div class="p-2">
      <%= genre.name %>
     </div>
    <% end %>
   </div>
  </div>
  
  <div class="col-5 m-5 mx-auto">
   <p class="border border-dark py-4 pr-3">
    ようこそ、ながのCAKEへ！</br>
    このサイトは、ケーキ販売のECサイトになります。</br>
    会員でない方も商品の閲覧はできますが、</br>
    購入には会員登録が必要になります。
   </p>
  </div>
 </div>
 
 <div class="col-5 mx-auto">
  <h3><strong>新着商品</strong></h3>
  <div class="d-flex flex-row">
   <% @items.first(4).each do |item| %>
    <div class="m-2">
     <%= image_tag item.image,size:"200x120" %>
     <%= item.name %></br>
     ￥<%= item.price.to_s(:delimited) %>
    </div>
   <% end %>
  </div>
 </div>
 <div class="text-right">
  <%= link_to "全ての商品を見る >",admin_items_path %>
 </div>
</div>