<%= render 'admin/admins' %>

<div class="container">
 <div class="row p-5">
  <h5 class="bg-light px-4"><%= @user.last_name %><%= @user.first_name %>さんの会員情報編集</h5>
 </div>
 
 <div class="ml-5">
  <table class="table table-sm table-borderless">
   <tbody>
    <tr>
     <td>会員ID</td>
     <td><%= @user.id %></td>
    </tr>
    <%= form_with model: @user,url: admin_customer_path(@user.id),method: :patch do |f| %>
     <tr>
      <td><%= f.label :last_name, "氏名" %></td>
      <td><%= f.text_field :last_name,class:'form-control-sm' %><%= f.text_field :first_name,class:'form-control-sm ml-5' %></td>
     </tr>
     <tr>
      <td><%= f.label :last_name_kana, "フリガナ" %></td>
      <td><%= f.text_field :last_name_kana,class:'form-control-sm' %><%= f.text_field :first_name_kana,class:'form-control-sm ml-5' %></td>
     </tr>
     <tr>
      <td><%= f.label :postal_code, "郵便番号" %></td>
      <td><%= f.number_field :postal_code,class:'form-control-sm' %></td>
     </tr>
     <tr>
      <td><%= f.label :address, "住所" %></td>
      <td><%= f.text_field :address,class:'form-control border-dark col-9' %></td>
     </tr>
     <tr>
      <td><%= f.label :telephone_number, "電話番号" %></td>
      <td><%= f.number_field :telephone_number,class:'form-control-sm' %></td>
     </tr>
     <tr>
      <td><%= f.label :email, "メールアドレス" %></td>
      <td><%= f.email_field :email,class:'form-control-sm' %></td>
     </tr>
     <tr>
      <td><%= f.label :is_active, "会員ステータス" %></td>
      <td>
       <%= f.radio_button :is_active,true %>
       <%= f.label :is_active,'有効',value: true,class:'border-bottom' %>
       <%= f.radio_button :is_active,false,class:'ml-3' %>
       <%= f.label :is_active,'退会',value: false,class:'border-bottom' %></td>
     </tr>
     <tr>
      <td></td>
      <td><%= f.submit "変更を保存",class:'btn btn-lg btn-success mt-4' %></td>
     </tr>
    <% end %>
   </tbody>
  </table>
 </div>
</div>