<%= render 'admin/admins' %>

<p><%= @user.last_name %><%= @user.first_name %>さんの会員情報編集</p>

<table>
 <tbody>
  <tr>
   <td>会員ID</td>
   <td><%= @user.id %></td>
  </tr>
  
  <%= form_with model: @user,url: admin_customer_path(@user.id),method: :patch do |f| %>
  <tr>
   <td><%= f.label :last_name, "氏名" %></td>
   <td><%= f.text_field :last_name %></td>
   <td><%= f.text_field :first_name %></td>
  </tr>
  
  <tr>
   <td><%= f.label :last_name_kana, "フリガナ" %></td>
   <td><%= f.text_field :last_name_kana %></td>
   <td><%= f.text_field :first_name_kana %></td>
  </tr>
  
  <tr>
   <td><%= f.label :postal_code, "郵便番号" %></td>
   <td><%= f.number_field :postal_code %></td>
  </tr>
  
  <tr>
   <td><%= f.label :address, "住所" %></td>
   <td><%= f.text_field :address %></td>
  </tr>
  
  <tr>
   <td><%= f.label :telephone_number, "電話番号" %></td>
   <td><%= f.number_field :telephone_number %></td>
  </tr>
  
  <tr>
   <td><%= f.label :email, "メールアドレス" %></td>
   <td><%= f.email_field :email %></td>
  </tr>
  
  <tr>
   <td><%= f.label :is_active, "会員ステータス" %></td>
   <td><%= f.radio_button :is_active,true %>有効 <%= f.radio_button :is_active,false %>退会</td>
  </tr>
 </tbody>
</table>
<%= f.submit "変更を保存" %>
<% end %>