<%= render 'admin/admins' %>

<div class="container">
 <div class="row p-5">
  <h5 class="bg-light px-5">注文履歴詳細</h5>
 </div>
 
 <div class="row">
  <table class="table table-sm table-borderless col-5">
   <tbody>
    <tr>
     <td><strong>購入者</strong></td>
     <td>
      <%= link_to admin_customer_path(@order.id),class:'text-dark border-bottom border-dark' do %>
       <%= @order.customer.last_name %><%= @order.customer.first_name %>
      <% end %>
     </td>
    </tr>
    <tr>
     <td><strong>注文日</strong></td>
     <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
    </tr>
    <tr>
     <td><strong>配送先</strong></td>
     <td><%= @order.address %></td>
    </tr>
    <tr>
     <td><strong>支払い方法</strong></td>
     <td><%= @order.method_of_payment_i18n %></td>
    </tr>
    <tr>
     <%= form_with model: @order,url: admin_order_path(@order.id),method: :patch do |f| %>
      <td><strong>注文ステータス</strong></td>
      <td><%= f.select :making_status, Order.making_statuses_i18n.invert,{} %><%= f.submit "更新",class:'btn btn-sm btn-success ml-4' %></td>
     <% end %>
    </tr>
   </tbody>
  </table>
 </div>
 
 <div class="row">
  <table class="table col-7">
   <thead class="bg-light">
    <tr>
     <td><strong>商品名</strong></td>
     <td><strong>単価(税込)</strong></td>
     <td><strong>数量</strong></td>
     <td><strong>小計</strong></td>
     <td><strong>製作ステータス</strong></td>
     <td></td>
    </tr>
   </thead>
  
   <tbody>
    <% @deta.each do |data| %>
     <tr>
      <td><%= data.item.name %></td>
      <td><%= data.tax_price.to_s(:delimited) %></td>
      <td><%= data.amount %></td>
      <td><%= data.subtotal.to_s(:delimited) %></td>
      <td>
       <%= form_with model: @order_data,url: admin_order_datail_path(@order_data.id),method: :patch do |f| %>
        <%= f.select :production_status,OrderDatail.production_statuses_i18n.invert,{},{class:'form-control text-center'} %>
       </td>
       <td>
        <%= f.submit "更新",class:'btn btn-sm btn-success' %>
       <% end %>
      </td>
     </tr>
    </tbody>
   </table>
  
   <table class="table table-sm table-borderless col-2 mx-auto mt-5">
    <tbody>
     <tr>
      <td><strong>商品合計</strong></td>
      <td><%= (@total=@total+data.subtotal).to_s(:delimited) %>円</td>
     </tr>
     <tr>
      <td><strong>送料</strong></td>
      <td><%= @order.shipping_cost %>円</td>
     </tr>
     <tr>
      <td><strong>請求合計金額</strong></td>
      <td><%= (@total=@total+@order.shipping_cost).to_s(:delimited) %>円</td>
     </tr>
    </tbody>
   <% end %>
  </table>
 </div>
</div>

