<%= render 'public/publics' %>

<div class="container">
 <div class="row p-5">
  <h5 class="bg-light px-3">配送先登録/一覧</h5>
 </div>
 
 <%= form_with model: @address,url: create_address_path,nethod: :post do |f| %>
  <table class="table table-borderless col-10 mb-5">
   <tbody>
    <tr>
     <td>郵便番号(ハイフンなし)</td>
     <td><%= f.number_field :postal_code,:placeholder=>"0000000" %></td>
    </tr>
    <tr>
     <td>住所</td>
     <td style="width: 50%;"><%= f.text_field :address,size:"50",:placeholder=>"東京都渋谷区代々木神園町０−０" %></td>
    </tr>
    <tr>
     <td>宛名</td>
     <td><%= f.text_field :name,:placeholder=>"令和道子" %></td>
     <td><%= f.submit "新規登録",class:'btn btn-success px-5' %></td>
    </tr>
   </tbody>
  </table>
 <% end %>
 
 <table class="table table-bordered border-dark col-7 mb-5">
  <thead class="bg-light">
   <tr>
    <th>郵便番号</th>
    <th>住所</th>
    <th>宛名</th>
    <th></th>
   </tr>
  </thead>
  <% @addresses.each do |address| %>
   <tbody>
    <tr>
     <td><%= address.postal_code %></td>
     <td><%= address.address %></td>
     <td><%= address.name %></td>
     <td>
      <%= link_to "編集する",edit_address_path(address.id),class:'btn btn-sm btn-success' %>
      <%= link_to "削除する",destroy_address_path(address.id),method: :delete,class:'btn btn-sm btn-danger' %>
     </td>
    </tr>
   </tbody>
  <% end %>
 </table>
</div>